{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block "title" %}
    <title>Logged Out - Task Mate</title>
{% endblock "title" %}

{% block content %}
        <div class="container">
            <h4> Logged Out on TaskMate, Thank You For Using Our App!</h4>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            
        </div>  
{% endblock content %}